.skills-area { 
    height: 600px;
    background-color: #6B57B5;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;

}


.white-box {
    width: 100%;
    background-color: #ffffff;
    height: 400px;
   
}

.section-title {
    border: 1px solid black;
    text-align: center;
    margin-top: 40px;
    font-size: 36px;
}

.des-dev {
    margin-top: 20px;
    border: 1px solid black;
}

h4 {
    text-align: center;
}
